<!DOCTYPE html>
<html>
<head>
    <title>PID Controller Output</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <button id="startButton">Start</button>
    <button id="stopButton">Stop</button>
    <button id="setPointButton">Set Point</button>
    <button id="pidControllerButton">PID Controller</button>
    <button id="transferFunctionButton">Transfer Function</button>
    <button id="mvValueButton">MV Value</button>
    <button id="autoButton">Auto</button>
    <button id="manualButton">Manual</button>


    <div id="pidModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>PID Controller Settings</h2>
          <label for="kpValue">Kp Value:</label>
          <input type="text" id="kpValue" name="kpValue"><br><br>
          <label for="kiValue">Ki Value:</label>
          <input type="text" id="kiValue" name="kiValue"><br><br>
          <label for="kdValue">Kd Value:</label>
          <input type="text" id="kdValue" name="kdValue"><br><br>
          <button id="savePid">Save</button>
        </div>
      </div>
      
      <div id="tfModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Transfer Function Settings</h2>
          <label for="numerator">Numerator coefficients:</label>
          <input type="text" id="numerator" name="numerator"><br><br>
          <label for="denominator">Denominator coefficients:</label>
          <input type="text" id="denominator" name="denominator"><br><br>
          <button id="saveTf">Save</button>
        </div>
      </div>

      <div id="setPointModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Set Point Settings</h2>
          <label for="setPointValue">Set Point Value:</label>
          <input type="text" id="setPointValue" name="setPointValue"><br><br>
          <button id="saveSetPoint">Save</button>
        </div>
      </div>

      <div id="mvModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>MV Value Settings</h2>
        <label for="mvValue">Enter the MV value:</label>
        <input type="text" id="mvValue" name="mvValue"><br><br>
        <button id="saveMv">Save</button>
    </div>
</div>


    <div>
        <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
